<!--#-->
<!--# -->
<!--#  @author Andrzej Poniatowski Student Id x11106077-->
<!--#  @date 03.01.212-->
<!--#  @references Agile Web Development... Sam Ruby... page 150-->
<!--#-->
<!--#-->
<!--#-->




<h1>Our Services</h1>

<table>
  <tr>
    <th>Service type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @services.each do |service| %>
      <tr>
        <td class="bold"><%= service.service_type %></td>
        <td class="bold"><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= number_to_currency(service.price, :unit => '&euro;') %>   </td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Service', new_service_path %>
