<p id="notice"><%= notice %></p>

<p>
  <b>Service type:</b>
  <%= @service.service_type %>
</p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Price:</b>
  <%= @service.price %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
