<h1>Create Client</h1>

<% form_for (@client) do |f| %>
<% if @client.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@client.errors.count, "error")%>prohibited this client from being saved:</h2>
  <ul>
  <% @client.errors.full_messages.each do |msg| %>
    <li><%= msg%></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="field">
   <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="actions">
  <%= f.submit "Create Client" %>
</div>
<% end %>

<%= link_to 'Back', products_path %>