<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @client.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%= @client.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Password:</b>
  <%= @client.password %>
</p>

<p>Press a link below to have a look on our services</p>

<br/>

<%= link_to 'Show Services', services_path %>