<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<%= link_to 'Ad another service', store_url %>

<ul>
  <% for item in @cart.line_items %>
      <li><%= item.quantity %> &times; <%= item.service.name %></li>
  <% end %>
  <br/>
  Total Price: <%= number_to_currency(@cart.total_price, :unit => '&euro;') %>
  <br/>
</ul>
<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
